# Entorno virtual
venv/
env/
ENV/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos local SQLite (para que no subas los datos de prueba de tu máquina)
*.db
*.sqlite
*.sqlite3

# Entornos y pruebas
.pytest_cache/
.vscode/
.idea/